
@font-face {
  font-family: 'DINNext';
  src: url('fonts/DINNext.woff2') format('woff2'),
       url('fonts/DINNext.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'DINNext', sans-serif;
}
