/* DIN Next Arabic */
@font-face {
  font-family: 'DINNextArabic';
  src: url('fonts/DINNext-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'DINNextArabic';
  src: url('fonts/DINNext-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'DINNextArabic';
  src: url('fonts/DINNext-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'DINNextArabic';
  src: url('fonts/DINNext-Light.otf') format('opentype');
  font-weight: 300;
}
